*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Raleway';
    src: url("../src/fonts/Raleway-VariableFont_wght.ttf");
}

.marg{
    padding: 0 50px;
}

html{
    font-family: Raleway, serif;
    max-width: 100%;
}

.head{
    display: flex;
    background-color: #3598dc;
    height: 180px;
    padding: 0 50px;
}

.nav-menu-header{
    height: auto;
    width: 100%;
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
    color: white;
}

.nav-menu-header ul{
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

.nav-menu-header ul li{
    margin-left: 40px;
}

.nav-menu-header ul li a{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
}

.nav-menu-header ul li a:hover{
    background-size: 100% 2px;
}

.logo{
    display: flex;
    justify-content: center;
    max-height: 150px;
    width: 100%;
}

.pic_logo{
    max-height: 150px;
}

.about_header{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    height: auto;
    width: 100%;
    color: white;
}

.header_line{
    width: 100%;
    height: 2px;
    background-color: black;
}

.section_main{
    height: 760px;
    background-image: linear-gradient(180deg, #3598dc 0%, #ffffff 100%);
}

.slider{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    position: relative;
    list-style-type: none;
    margin: auto;
    height: 760px;
    overflow: hidden;
}

.slide_left-side{
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide_right-side{
    width: 33%;
}

.slide_left-side ol{
    margin-left: 15px;
}

.slide_left-side ul{
    margin-left: 15px;
}

.slide_title{
    overflow-wrap: break-word;
    font-size: 40px;
}

.slide_subtitle{
    margin-top: 50px;
    font-size: 25px;
}

.slide_about{
    overflow-wrap: break-word;
    margin-top: 20px;
    line-height: 24px;
}

.slider .item {
    display: flex;
    position: relative;
    object-fit: cover;
    min-width: 90%;
    height: 760px;
}

.slider .previousButton, .slider .nextButton {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slider .previousButton{
    left: 20px;
}

.slider .nextButton {
    right: 20px;
    border-radius: 3px 0 0 3px;
}

.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.news{
    margin-top: 180px;
}

.news_title{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.news_items{
    display: grid;
    justify-items: center;
    grid-template-columns: 33% 33% 33%;
    margin-top: 90px;
}

.news_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 430px;
    height: 450px;
    background-color: #3598dc;
    color: white;
}

.news_item-top_side{
    width: auto;
    height: 150px;
    padding: 30px 10px 0 10px;
}

.news_date{
    font-size: 13px;
    margin-top: 10px;
}

.news_item-down_side{
    width: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 24px;
    padding: 0 10px 10px 10px;
}

.news_item-down_side p a{
    color: white;
}


.about_main{
    display: flex;
    margin-top: 180px;
}

.about_main-left_side{
    margin-left: 30px;
}

.about_main-left_side-logo{
    width: 240px;
    height: 240px;
    background-color: #3598dc;
    border-radius: 180px;
}

.about_main-right_side{
    margin-left: 120px;
}

.about_main-title{
    margin-top: 100px;
    font-size: 40px;
}

.about_main-info{
    margin-top: 100px;
    font-size: 20px;
}

.certificates{
    margin-top: 180px;
}

.certificates_title{
    display: grid;
    justify-content: center;
    font-size: 40px;
}

.certificates_pics{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 40px;
    justify-items: center;
}

.certificates_pic{
    height: 250px;
}

footer{
    display: flex;
    background-color: #3598dc;
    margin-top: 180px;
    height: 190px;
    color: white;
}

.about_footer{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    height: auto;
}

.active{
    display: flex !important;
}


.popup_elems{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:98;
}

.popup_elem{
    /*display: none;*/
    position: fixed;
    top: 50px;
    width: 40%;
    height: 90%;
    background-image: none;
    background-size: 100% 100%;
    z-index:99;
}

.close_button{
    background-image: url("./res/Close.svg");
    background-size: cover;
    position: relative;
    top: 3%;
    left: 23%;
    width: 30px;
    height: 30px;
}

@media (min-width: 961px) and (max-width: 1450px) {
    .news_items{
        grid-template-columns: 50% 50%;
        margin-top: 0;
    }
    .news_item{
        margin-top: 90px;
    }
}

@media screen and (max-width: 960px) {
    .slider .item {
        flex-direction: column;
    }
    .slide_left-side{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .nav-menu-header{
        display: none;
    }
    .news_items{
        grid-template-columns: 100%;
        margin-top: 0;
    }
    .news_item{
        margin-top: 90px;
        width: 380px;
    }
    .about_main{
        flex-direction: column;
        align-items: center;
    }
    .about_main-left_side{
        margin-left: 0;
    }
    .about_main-right_side{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .certificates_pics{
        grid-template-columns: 50% 50%;
    }
    .popup_elem{
        top: 20%;
        width: 90%;
        height: 60%;
    }
    .close_button{
        top: 3%;
        left: 40%;
    }
}